<div class='d-flex justify-content-around py-4' > 
  <div>
    <%=link_to "home", groups_path%>
  </div>

  <div>
    <%=link_to "create new movement", new_movement_path %>
  </div>

  <div>
    <%= link_to "create a new group", new_group_path  %>
  </div>

  <% if user_signed_in? %>
  <div>
    <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
  </div>
<% end %>


</div>
